*{
  margin: 0;
  padding: 0;
  box-sizzing: border-box;
}

div.container{
  width: 75%;
  margin: 10 auto;
}
.container h2{
  font-size: 30px;
  color: gray;
  font-weight: bold;
}
container p{
  font-size: 16px;
  border: 1px solid #green;
  border-radius: 5px;
  background-color: green;
}

footer{
  margin: 10 auto;
  background-color: #ccc;
  padding: 8px;
  border-top: 2px solid #ccc;
}
