*{
  margin: 0;
  padding: 0;
  box-sizzing: border-box;
}

div.container{
  width: 78%;
  margin: 0 auto;
}
.container h2{
  font-size: 30px;
  color: gray;
  font-weight: bold;
}
.container p{
  font-size: 14px;
  color: green;
}
footer{
  margin: 0 auto;
  background-color: #ccc;
}